.container {
  display: flex;
  min-height: 100vh;
 background-color: black;
}

/* Sidebar */
.nav_container {
  width: 15vw;
  min-width: 220px;
  background: linear-gradient(180deg, #0f172a, #1e293b);
  color: white;
  padding-top: 20px;
  position: sticky;   /* fixed की जगह sticky */
  top: 0;
  height: 100vh;
}

/* Heading */
.admin_heading {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

/* Links */
.link_container {
  padding: 20px;
}

.nav_links {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.nav_links a {
  text-decoration: none;
  color: #cbd5e1;
  padding: 10px 12px;
  border-radius: 8px;
  transition: 0.3s;
}

.nav_links a:hover {
  background: #2563eb;
  color: white;
}

/* Right Content */
.content {
  flex: 1;
  padding: 40px;
  background: #f3f4f6;
}